<div id="science" class="w-full min-w-0">
  <div class="font-[Talina] px-4 text-center text-[26px] leading-snug text-[#C97064] tracking-0% md:text-[40px] md:leading-[100%]">
    What's inside? Exactly what you see.
  </div>
  <div class="relative mt-10 min-h-[320px] w-full sm:min-h-[420px] md:h-[500px] md:min-h-[500px]">
    <img src="{{ 'yellow-bg.svg' | asset_url }}" alt="" class="absolute w-full h-full object-cover">
    <img src="{{ 'stick.png' | asset_url }}" alt="" class="absolute left-1/2 translate-y-4 -translate-x-1/2 h-full object-contain z-10">
    <img src="{{ 'ingredients.png' | asset_url }}" alt="" class="absolute left-1/2 -translate-x-[48.25%] md:translate-y-10 md:-translate-x-[47%]  translate-y-8 h-full object-contain">
    <img src="{{ 'dog_with_glass.svg' | asset_url }}" alt="" class="absolute right-0 hidden h-full object-contain md:block">
    <span class="absolute right-0 hidden translate-y-80 -translate-x-40 text-center font-[Cookie] text-2xl text-[#4F815E] md:block">yes that's all</span>
  </div>
  <div class="font-[Talina] mx-auto mt-10 max-w-[min(100%,20rem)] px-4 text-center text-[20px] leading-snug text-[#C97064] tracking-0% md:max-w-none md:px-0 md:text-[26px] md:leading-[100%]">
    No fillers. No junk.<br>
    If it's not real, it's not in here.
  </div>
</div>

{% schema %}
{
  "name": "Science / Ingredients",
  "settings": [],
  "presets": [
    {
      "name": "Science / Ingredients"
    }
  ]
}
{% endschema %}
